<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

    html, body { height: 100%; }
</style>


<div class="ui padded centered grid">
    <div class="ui eight wide column">
        <div class="ui segment">
            <div class="row">
                <div class="ui grid">
                    <div class="ui one wide column"></div>

                    <div class="ui fourteen wide column">
                        <div class="row">
                            <h1 class="ui centered dividing header">File Upload Parameters: </h1>
                            <br>
                        </div>

                        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="ui form">
                                <div class="field">
                                    <div class="ui labeled input">
                                        <div class="ui label">File Name:</div>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="History Report" [ngModel]="content?.name" />
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui right labeled left icon input">
                                        <i class="tags icon"></i>
                                        <input type="text" class="form-control" id="tags" name="tags" placeholder="enter tags" [ngModel]="content?.tags" />
                                        <a class="ui tag label">
                                            Add Tag
                                        </a>
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="eight wide field">
                                        <div class="ui input">
                                            <input type="file" id="file" name="file" [ngModel]="content?.file" ng2FileSelect [uploader]="uploader" (click)="onClear(f)" />
                                        </div>
                                    </div>

                                    <div class="four wide field">
                                        <button class="ui large green button" type="submit">Save File</button>
                                    </div>
                                    <div class="four wide field">
                                        <button class="ui large right aligned red button" (click)="onClear(f)">Clear Inputs</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="ui one wide column"></div>
                </div>
            </div>
        </div>
    </div>
</div>