<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

    html, body { height: 100%; }
</style>

<div class="ui padded centered grid">
    <div class="ui eight wide column">
        <div class="ui segment">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                    <label for="name">
                        <h2 class="ui header"> Name </h2>
                    </label>
                    <input type="text" class="form-control" id="name" name="name" [ngModel]="content?.name" />
                </div>
                
                <div class="form-group">
                    <label for="tags">
                        <h2 class="ui header">Tags </h2>
                        </label>
                    <input type="text" class="form-control" id="tags" name="tags" [ngModel]="content?.tags" />
                </div>
                <div class="form-group">
                    <label for="file">
                        <h2 class="ui header">File </h2>
                    </label>
                    <input type="file" id="file" name="file" [ngModel]="content?.file" ng2FileSelect [uploader]="uploader" />
                </div>
                <button type="button" class="left floated btn btn-danger" (click)="onClear(f)">Clear</button>
                <button class="left floated btn btn-success" type="submit">Save</button>
            </form>
        </div>
    </div>
    
</div>
