<div class="ui raised segment hvr-grow">
    <div class="ui row">
        <div class="black centered column">
            <h3 class="ui textcenter header">{{ content.name }}</h3>
            <div class="ui divider"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="centered column">
            <a href= {{content.file}} target="_blank">
                <div class="large img-thumbnail">
                    <img [src]="content.file" class="img-thumbnail" alt="Can't Display Image" width="304" height="236">
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <h2 class="ui textcenter header"> <br> #tags: </h2>
        <div class="ui horizontal divider"></div>
    </div>
    <!-- <div class="author"> -->
    <div class="row">
        <div class="center aligned column">
            <h3 class="ui textcenter header">{{ content.tags }}</h3>
            <div class="ui divider"></div>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="config"> -->
    <div *ngIf="belongsToUser()">
        <div class="row">
            <button class="ui yellow button" (click)="onEdit()">Edit</button>
            <button class="ui red button" (click)="onDelete()">Delete</button>
        </div>
    </div>

    <!-- </div> -->
</div>
