<div class="ui grid">
    <div class="row"></div>
    <div class="one wide column"></div>
    <div class="fourteen wide column ">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="ui form">
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">Email: </div>
                        <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">Password</div>
                        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                    </div>
                </div>
                <button [disabled]="!myForm.valid" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="two wide column"></div>
</div>
